@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px; 
}

:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;

}
html, body {
    min-height: 100vh;
    background-color: dark;
    font-family: var(--font1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font2);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover footer a {
    text-decoration: underline;
     
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vh;
}


section.normal {
     background-color: white;
     color: black;
}

section.image {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.479);
    background-size: cover;
    background-attachment: fixed;
}

section.image > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.596);
    text-shadow: 1px 1px 0px black;   
    background-size: cover; 
}

section#img-1 {
    background-image: url("imgs/background001.jpg");
    background-position: right center;
    
}

section#img-2 {
    background-image: url("imgs/background002.jpg"); 
}
footer {
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}
